import java.util.Scanner;
class Even_Odd
{
  public Static void main(String[] args)
  {
      Scanner sc = new Scanner(System.in);
      int a =  Sc.nextInt();
      if(a%2==0)
      {
         System.out.println( a + " This Number is Even Number");
      }
      else
      {
          System.out.println( a + " This Number is Odd Number");
      }
  }
}
