import java.util.Scanner;
class Even_Odd
{
  public static void main(String[] args)
  {
      Scanner sc = new Scanner(System.in);
      int a =  sc.nextInt();
      if(a%2==0)
      {
         System.out.println(" This Number is Even Number" + a);
      }
      else
      {
          System.out.println(" This Number is Odd Number" + a);
      }
  }
}
